body {
    background-color: silver;
    color: orange;
    text-align: center;
    width: 500px;
    margin: auto;
}

header {
    background-color: purple;
    color: yellow;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

p {
    background-color: brown;
    color: tan;
    margin: 15px;
    padding: 15px;
    text-align: center;
}


span {
    background-color: silver;
    color: purple;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


footer {
    background-color: silver;
    color: gold;
    padding: 2px;
    margin: 10px;
    width: 300px;
    text-align: center;
    margin: auto;
}