body {
    background-color: lightsteelblue;
    color: rebeccapurple;
    text-align: center;
    width: 600px;
    margin: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: thick;
    font-family: fantasy, 'Times New Roman', Times, serif;
}

header {
    background-color: purple;
    color: yellow;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

p {
    background-color: brown;
    color: tan;
    margin: 5px;
    padding: 5px;
    text-align: center;
}


span {
    background-color: lightsteelblue;
    color: purple;
    margin: 1px;
    padding: 1px;
    text-align: center;
    font-weight: lighter;
    font-size: larger;
}

#titleField2 {
    color:blueviolet;
}


footer {
    background-color: lightsteelblue;
    color: rebeccapurple;
    padding: 2px;
    margin: 10px;
    width: 300px;
    text-align: center;
    margin: auto;
}